.note-list {
    width: 520px;
    background-color: #e5e5e5;
    &__topbar {
        height: 90px;
        background-color: white;
    }
    &__note {
        background-color: white;
        margin-bottom: 10px;
    }
    &__title {
        font-weight: bold;
    }
    &__detail {

    }
}